// app global css in SCSS form
.fz-lg {
    font-size: 26px;
}
.fz-md {
    font-size: 22px;
}
.fz-sm {
    font-size: 18px;
}

// .safari-scroll {
//     overflow: auto;
//     overflow-scrolling: touch;
//     -webkit-overflow-scrolling: touch;
// }