// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #fea727;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

.text-p1 {
  color:#e53935
}
.bg-p1 {
  background: #e53935;
}
.bd-p1 {
  border: 8px ridge #e53935;
}
.text-p2 {
  color: #fb8c00;
}
.bg-p2 {
  background: #fb8c00;
}
.bd-p2 {
  border: 8px ridge #fb8c00;
}
.text-p3 {
  color: #ffeb3b;
}
.bg-p3 {
  background: #ffeb3b;
}
.bd-p3 {
  border: 8px ridge #ffeb3b;
}
.text-p4 {
  color: #8bc34a;
}
.bg-p4 {
  background: #8bc34a;
}
.bd-p4 {
  border: 8px ridge #8bc34a;
}
.text-p5 {
  color: #03a9f4;
}
.bg-p5 {
  background: #03a9f4;
}
.bd-p5 {
  border: 8px ridge #03a9f4;
}
.text-p6 {
  color: #00bcd4;
}
.bg-p6 {
  background: #00bcd4;
}
.bd-p6 {
  border: 8px ridge #00bcd4;
}
.text-p7 {
  color: #9c27b0;
}
.bg-p7 {
  background: #9c27b0;
}
.bd-p7 {
  border: 8px ridge #9c27b0;
}
.text-p8 {
  color: #795548;
}
.bg-p8 {
  background: #795548;
}
.bd-p8 {
  border: 8px ridge #795548;
}
.text-p9 {
  color: #9e9e9e;
}
.bg-p9 {
  background: #9e9e9e;
}
.bd-p9 {
  border: 8px ridge #9e9e9e;
}
.text-p10 {
  color: #607d8b;
}
.bg-p10 {
  background: #607d8b;
}
.bd-p10 {
  border: 8px ridge #607d8b;
}